<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437647262639-ubb15alegd6rg8nskmovfipir7cr0amp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437647262639-ubb15alegd6rg8nskmovfipir7cr0amp</string>
	<key>API_KEY</key>
	<string>AIzaSyACzW-yZ4Y2-LXSK3nFhdP6OQPo1fmknN4</string>
	<key>GCM_SENDER_ID</key>
	<string>437647262639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zalstudio.savedball</string>
	<key>PROJECT_ID</key>
	<string>savedball</string>
	<key>STORAGE_BUCKET</key>
	<string>savedball.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437647262639:ios:0a386b6efcdd97f20aa55a</string>
</dict>
</plist>